@page
@model DiarioEscrita.Views.Home.Diario

<div class="text-center">
    <h1 class="display-4">Diário de Escrita</h1>
    <div class="container-xl">
        <div class="section1 container-md">
            <div class="data">
                <h2>__ /__ /__</h2>
            </div>
            <div class="ladoD">
                <div class="registrotempo">
                    <h2>Período de Escrita</h2>
                    <p>6pm-8pm</p>
                </div>
            <div class="todo">
                <h2>Para ser feito:</h2>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                </ul>
            </div>
            <div class="humor">
                <h2>Humor de hoje:</h2>
                <div class="imagem">
                    <img src="garu.jfif" alt="humorMenu">
                </div>
            </div>
            </div>
        </div>
        <div class="section2 container-md">
            <div class="cenas">
                <h2>Cenas</h2>
                <ul>
                    <li>CENA 1</li>
                    <li>CENA 2</li>
                    <li>CENA 3</li>
                </ul>
            </div>
            <div class="section2ladoD">
            <div class="palavrasnovas">
                <h2>Palavras novas e significado:</h2>
                <p>nonnononononono</p>
            </div>
            <div class="estougostando">
                <h2>O que estou gostando na história?</h2>
                <p>nononononononono</p>
            </div>
            <div class="imagem">
                <img src="harvey.jpg" alt="Sticker">
            </div>
            </div>

        </div>
        <div class="section3 container-md">
            <div class="anotacoes">
                <h2>Anotações:</h2>
                <p>nonononononononon</p>
            </div>
            <div class="palavras">
            <div class="metadepalavras">
                <h2>Meta de palavras:</h2>
                <p>1000</p>
            </div>
            <div class="totaldepalavras">
                <h2>Total de palavras</h2>
                <p>1285</p>
            </div>
            </div>
        </div>
    </div>

</div>